[submodule "llm.c"]
	path = llm.c
	url = https://github.com/karpathy/llm.c.git
	branch = llama3
[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
	branch = master
[submodule "ggml"]
	path = ggml
	url = https://github.com/ggerganov/ggml.git
	branch = master
[submodule "whisper.cpp"]
	path = whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
	branch = master
[submodule "chat-demo/SDL"]
	path = chat-demo/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = main
[submodule "chat-demo/imgui"]
	path = chat-demo/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
